<tr id="pos-id-{{this.position}}">
    <td>{{this.position}}</td>
    <td class="clickable-row" value="{{this.team_id}}"><img src='badges/{{this.team_shortName}}.png' />
        {{this.team_shortName}}</td>
    <td>{{this.played}}</td>
    <td>{{this.won}}</td>
    <td>{{this.drawn}}</td>
    <td>{{this.lost}}</td>
    <td>{{this.goalsFor}}</td>
    <td>{{this.goalsAgainst}}</td>
    <td>{{this.goalsDifference}}</td>
    <td>{{this.points}}</td>
</tr>